# Discord Webhook URL para coleta de dados
# Substitua pela URL do seu webhook do Discord
NEXT_PUBLIC_DISCORD_WEBHOOK=https://discord.com/api/webhooks/1402361172908445868/qFw26mMkAxPZwrXYLxnKtTDdaZvZGJX4Lkuix5vvujZkVctNndPtz0v843zCA1uMaJLW

# Outras configurações
NEXT_PUBLIC_API_URL=http://localhost:8000 